:root {
  --primary-color: #0584f2;

  /**************************** button *************************************/
  --default-text-color: #c7cbd4;

  /**************************** button *************************************/
  --primary-btn-color-80: rgba(5, 132, 242, 0.85);
  --primary-btn-color: var(--primary-color);
}
